@media only screen and (min-width: 1000px) {
    .cover-container {
        width: 40vw !important;

    }
}

@media only screen and (max-width: 999px) {
    .cover-container {
        width: 100vw !important;
    }
}

/*
 * Header
 */
.nav-masthead .nav-link {
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
    cursor: pointer;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

/**
Override svelte Autocomplete
 */
.custom-autocomplete-input {
    border-radius: 0.3rem;
    border: 1px solid #ced4da;
    height: 50px;
    line-height: 1.25;
}

.autocomplete-list {
    border: 1px solid #ced4da !important;
}

.autocomplete {
    height: 3.25em !important;
    width: 100%;
}

a {
    color: #000;
    text-decoration: none;
}

/**
override bootstrap
 */
.btn-primary {
    background-color: #894242;
    border-radius: 0.1rem;
}

.btn-primary:hover {
    background-color: #514945;
}

.form-control {
    background-color: #fff;
    border-radius: 0.1rem;
}

.dropdown-menu {
    --bs-dropdown-border-radius: 0.1rem
}

.top-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 330px;
    z-index: -1;
    background: linear-gradient(242deg, #894242, #D55C5A);
    background-size: 400% 400%;
    -webkit-animation: background 29s ease infinite;
    -moz-animation: background 29s ease infinite;
    animation: background 29s ease infinite;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

@-webkit-keyframes background {
    0% {
        background-position: 0% 59%
    }
    50% {
        background-position: 100% 42%
    }
    100% {
        background-position: 0% 59%
    }
}

@-moz-keyframes background {
    0% {
        background-position: 0% 59%
    }
    50% {
        background-position: 100% 42%
    }
    100% {
        background-position: 0% 59%
    }
}

@keyframes background {
    0% {
        background-position: 0% 59%
    }
    50% {
        background-position: 100% 42%
    }
    100% {
        background-position: 0% 59%
    }
}

.autocomplete:not(.hide-arrow):not(.is-loading)::after {
    border-color: #894242 !important;
}

.scheme {
    color: #514945;

    color: #894242;

    color: #D55C5A;

    color: #F5918F;

    color: #EBD4CC;

    color: #FFF;
}


/* custom primary buttons */

.btn-primary {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

.btn-primary:hover {
    color: #212529;
    background-color: #52bebe;
    border-color: #8ad3d3
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #212529;
    background-color: #9cdada;
    border-color: #2e7c7c
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.btn-outline-primary {
    color: #7cc;
    background-color: transparent;
    background-image: none;
    border-color: #7cc
}

.btn-outline-primary:hover {
    color: #222;
    background-color: #8ad3d3;
    border-color: #7cc
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #7cc;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #8ad3d3;
    border-color: #7cc
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}




