.custom-autocomplete-input {
    border-radius: 0.3rem;
    border: 1px solid #ced4da;
    height: 50px;
    line-height: 1.25;
}

.autocomplete-list {
    border: 1px solid #ced4da !important;
}

.autocomplete {
    height: 3.25em !important;
    width: 100%;
}
